Package: opengl
Version: 2022-12-04
Port-Version: 3
Depends: opengl-registry
Architecture: x86-windows
Multi-Arch: same
Abi: ffcec55e6f0251c320cf473c3a8b64a1492e03a60bb86f7e7ad13b2235b2baf0
Description: Open Graphics Library (OpenGL)[3][4][5] is a cross-language, cross-platform application programming interface (API) for rendering 2D and 3D vector graphics.
